@import "utilities/variables.scss";

#content {
    padding: 40px;
    padding-top: 100px;
    width: calc(100% - 80px);
    margin: 0 auto;
    max-width: 1200px;
    
    h1 {
        text-align: center;
        font-size: 40px;
        margin-bottom: 30px;
    }

    h2 {
        margin-bottom: 15px;
        margin-top: 30px;
    }

    img {
        width: 70%;
        margin-left: 15%;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    p {
        background-color: $backgroundColor;
    }
}


#articles {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(2,1fr);
    padding: 20px;
    margin: 0 auto;
    z-index: -1;
    margin-bottom: 70px;

    @media only screen and (max-width: 900px) {
        grid-template-columns: repeat(1,1fr);
    }

    .article {
        min-height: 300px;
        // border: 3px solid #3D405B;

        box-shadow: 0px 0px 15px rgba(0,0,0,0.7);
        border-radius: 20px;
        background-color: $backgroundColor;
        float: left;
        position: relative;   
        opacity: 0;
        transition: 300ms;

        .articleHeaderWrapper {
            background-color: #3D405B;
            min-height: 35px;
            border-radius: 10px 10px 0 0px;
            padding: 10px;

            h2 {
                color: white;
                font-size: 23px;
                font-weight: 500;
                padding: 5px;
                margin-top: 0 !important;
                margin-bottom: 0 !important;
            }
        }
        
        .artcileImageWrapper {
            width: 40%;

            img {
                width: calc(100% - 10px);
                height: 230px;
                object-fit: cover;
                margin: 15px;
                float: left;
                border-radius: 15px;
            }
        }

        .buttonReading {
            width: 40%;
            margin-top: 20px;
            margin: 0px;
            right: 10%;
            bottom: 20px;
            position: absolute;
            background-color: rgba(226, 224, 205, 0.4);

            padding: 3px;
            padding-top: 14px;

            &:hover {
                background-color: $blueColor;
                color: white;
                cursor: pointer;
            }
        }
        
        .articleText {
            margin-top: 10px;
            padding-right: 20px;
            width: calc(55% - 50px);
            float: left;
            padding: 20px;
            position: relative;
        }

        .articleDate {
            margin-bottom: 10px;
        }

        .articleDescription {
            font-style: italic;
            color: rgba(0,0,0,0.6);
            overflow: hidden;
            height: 120px;
        }

        .line-clamp {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;  
        }
    }
}


#content p h1 {
    background-color: #FCFBF6;
}

@media only screen and (max-width: 600px) {
    #content {
        padding: 20px;
        padding-top: 100px;
        width: calc(100% - 50px);
    }
    
    #articles {
        z-index: -1;
        padding: 0;
        grid-template-columns: auto;
    }

    .article {
        min-width: 0;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        min-height: 230px;
        margin-bottom: 5px;
        
    }
    .article img {
        height: 100px;
        width: 200px;
    }

    .articleHeader {
        padding: 0;
        padding-left: 10px;
        
    }

    .articleHeader h2 {
        font-size: 18px;
    }

    .article .buttonReading {
        width: 90%;
        right: 5%;
    }

    .articleText {
        padding-top: 15px;
        margin-top: 0;
    }

    .articleDescription {
        height: 60px;
    }
  }

