@import "utilities/variables.scss";

.content {
    padding-top: 100px;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;


    @include mobile {
        display: block;
    }
    
    h1 {
        text-align: center;
        font-size: 50px;
    }

    .desktopHeading {
        @include mobile {
            display: none;
        }
    }
    
    .contentLeft {
        width: 40%;
        height: 100%;
        position: fixed;

        @include mobile {
            position: static;
            width: 100%;
        }

        .imageWrapper {
            display: flex;

            .desktopImage {
                width: 80%;
                max-width: 300px;
                position: relative;
                margin: 0 auto;
                @include mobile {
                    display: none;
                }
            }

            .mobileImage {
                display: none;
                @include mobile {
                    display: inline;
                }
                width: 90%;
                position: relative;
                margin: 0 auto;
            }
        }

        .desktopHeading {
            font-size: 30px;
            margin-top: 20px;
        }


        .mobileHeading {
            display: none;
            margin-bottom: 20px;
            @include mobile {
                display: block;
            }
        }
    }

    .contentRight {
        width: 60%;
        margin-left: 40%;

        @include mobile {
            width: 100%;
            margin-left: 0px;
            margin-top: -0px;
        }

        h3 {
            text-align: center;
            margin-bottom: 20px;
            margin-top: 20px;
            float: inherit;
            clear: both;
        }
    }
    

}

.cvLine {
    width: 5px;
    height: 30px;
    margin: 0 auto;
    z-index: -1;
}

.cvLineVertical {
    width: 50%;
    height: 5px;
    margin: 0 auto;
    z-index: -1;
    background-color: $backgroundColorSecond;
    position: absolute;
    left: -23%;
    top: 50%;

    @include mobile {
        left: -13%;
    }
    // &.range {
    //     left: -28%;
    // }
}

.cvTimeSpacer {
    height: 30px;
    width: 100%;
}


.greenLine2 {
    width: 5px;
    background-color: #81B29A;
    height: 30px;
    margin: 0 auto;
    z-index: -1;
}

.redLine2 {
    width: 5px;
    background-color: #E07A5F;
    height: 30px;
    margin: 0 auto;
    z-index: -1;
}

.cvBlockHeadingBlock {
    min-height: 35px;
    margin-bottom: 10px;
    border-radius: 15px 15px 0 0;
    padding-bottom: 5px;
}

.cvBlock p {
    margin-left: 10px;
    margin-right: 10px;
}

.cvBlockHeadingBlock p {
    color: white;
    font-size: 17px;
    padding-top: 8px;
    margin-left: 10px;
}

.cvBlock {
    width: 70%;
    margin-left: 15%;
    min-height: 60px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: #FCFBF6;
    transition: 300ms;
    position: relative;
}

.cvRed {
    border: $redColor 3px solid;

    .cvHeading {
        background-color: $redColor;
    }

    & + .cvLine {
        background-color: $redColor;
    }

    .cvLineVertical {
        background-color: $redColor;
    }
}

.cvRedHeading {
    background-color: #E07A5F;
}

.cvGreen {
    border: $greenColor 3px solid;
    
    .cvHeading {
        background-color: $greenColor;
    }

    & + .cvLine {
        background-color: $greenColor;
    }

    .cvLineVertical {
        background-color: $greenColor;
    }
}

.cvGreenHeading {
    background-color: #81B29A;
}

.cvBlue {
    border: $blueColor 3px solid;

    .cvHeading {
        background-color: $blueColor;
    }

    & + .cvLine {
        background-color: $blueColor;
    }

    .cvLineVertical {
        background-color: $blueColor;
    }
}

.cvDescrip {
    color: rgba(0,0,0,0.6);
    margin-top: 5px;
    font-style: italic;
}

.cvTime {
    margin-top: 10px;
}

.scrollFade {
    opacity: 0;
    transition: 100ms;
    transition: box-shadow 200ms, opacity 300ms;
}

.languageCard {
    border: 3px solid #3D405B;
    height: 70px;
    width: calc(50% - 10px);
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: #3D405B;
    text-align: center;
    color: white;
    padding-top: 25px;
    font-size: 20px;

    @include mobile {
        width: calc(50% - 10px);
    }
}

#languageCardsDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    margin-bottom: 35px;
    width: 70%;
    margin-left: 15%;
}

.languageDescrip {
    font-size: 14px;
    font-style: italic;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 5px;
}

.languageCardHeading {
    min-height: 26px;
    max-height: 40px;
    width: 100%;
    background-color: #3D405B;
    border-radius: 15px 15px 0 0;
    text-align: center;
    color: white;
    padding-top: 4px;
    
}

#spacer {
    height: 150px;
    width: 100%;
   
}

@media only screen and (max-width: 600px) {
    .cvBlock {
        width: 90%;
        margin-left: 5%;
    }

    #languageCardsDiv {
        width: 90%;
        margin-left: 5%;
    }
}


.cvSwitch {
    display: flex;
    width: 70%;
    background-color: rgba($backgroundColorSecond, 0.4);
    text-align: center;
    margin-left: 15%;
    border-radius: 20px;
    position: relative;
    margin-top: 10px;

    @include mobile {
        width: 90%;
        margin-left: 5%;
    }

    .switchItem {
        padding: 10px;
        width: calc(50% - 10px);
        z-index: 2;
        cursor: pointer;

        @include mobile {
            padding: 10px;
            width: calc(50% - 10px);
        }
    }

    .switchMover {
        width: 50%;
        position: absolute;
        left: 0;
        height: 100%;
        border-radius: 20px;
        z-index: 0;
        background-color: $blueColor;
        transition: 300ms;
        
    }

    &.switchLeft {
        .switchItemLeft {
            color: white;
        }
    }

    &.switchRight {
        .switchItemRight {
            color: white;
        }

        .switchMover {
            left: 50%;
        }
    }
}

.cvSortedByCategory {
    display: none;
}

.sortedByTime {
    display: none;
    margin-top: 75px;

    .blockYear {
        display: flex;
        position: relative;

        @include mobile {
            margin-top: 30px;
        }
        .yearPart {
            width: 30%;
            text-align: right;
            font-size: 30px;
            &.border {
                border-right: 5px solid $backgroundColorSecond;
            }
            position: relative;

            @include mobile {
                width: 20%;
            }
            p {
                padding: 5px;
                border: 5px solid $backgroundColorSecond;
                border-radius: 20px;
                margin-right: -45px;
                background-color: $backgroundColor;
                width: 115px;
                position: absolute;
                right: -24px;
                text-align: center;
                top: -25px;

                @include mobile {
                    top: -55px;
                }
            }
        }

        .cvPart {
            width: 70%;

            @include mobile {
                padding-top: 15px;
            }
            
            .cvBlock {
                position: relative;
                margin-bottom: 20px;

                @include mobile {
                    margin-left: 10%;

                }

                .cvTimeLine {
                    &.Blue {
                        background-color: $blueColor;
                    }
                    &.Green {
                        background-color: $greenColor;
                    }
                    &.Red {
                        background-color: $redColor;
                    }
                    
                    position: absolute;
                    height: 300px;
                    width: 7px;
                    top: 50%;
                    left: -30%;
                }
            }
            
        }
    }
}

.visible {
    display: block;
}
