@import "utilities/variables.scss";

.content {
    padding-top: 100px;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;


    @include mobile {
        display: block;
    }
    
    h1 {
        text-align: center;
        font-size: 50px;
    }

    .desktopHeading {
        @include mobile {
            display: none;
        }
    }
    
    .contentLeft {
        width: 40%;
        height: 100%;
        position: fixed;

        @include mobile {
            position: static;
            width: 100%;
        }

        .imageWrapper {
            display: flex;

            .desktopImage {
                width: 80%;
                max-width: 300px;
                max-height: 300px;
                position: relative;
                margin: 0 auto;
                @include mobile {
                    display: none;
                }
            }

            .mobileImage {
                display: none;
                @include mobile {
                    display: inline;
                }
                width: 90%;
                position: relative;
                margin: 0 auto;
            }
        }

        .desktopHeading {
            font-size: 30px;
            margin-top: 20px;
        }


        .mobileHeading {
            display: none;
            margin-bottom: 20px;
            @include mobile {
                display: block;
            }
        }
    }

    .contentRight {
        width: 60%;
        margin-left: 40%;

        @include mobile {
            width: 100%;
            margin-left: 0px;
            margin-top: -0px;
        }

        h3 {
            text-align: center;
            margin-bottom: 20px;
            margin-top: 20px;
            float: inherit;
            clear: both;
        }
    }
    

}

.cvLine {
    width: 5px;
    height: 30px;
    margin: 0 auto;
    z-index: -1;
    background-color: rgba(226, 224, 205, 0.8) !important;
}

.cvLineVertical {
    width: 50%;
    height: 5px;
    margin: 0 auto;
    z-index: -1;
    background-color: $backgroundColorSecond;
    position: absolute;
    left: -15%;
    top: 50%;

    @include mobile {
        left: -14%;
    }
    // &.range {
    //     left: -28%;
    // }
}

.cvTimeSpacer {
    height: 30px;
    width: 100%;
}


.greenLine2 {
    width: 5px;
    background-color: #81B29A;
    height: 30px;
    margin: 0 auto;
    z-index: -1;
}

.redLine2 {
    width: 5px;
    background-color: #E07A5F;
    height: 30px;
    margin: 0 auto;
    z-index: -1;
}

.cvBlockHeadingBlock {
    min-height: 35px;
    margin-bottom: 10px;
    border-radius: 15px 15px 0 0;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    
    p {
        color: white;
        font-size: 17px;
        padding-top: 8px;
        margin-left: 10px;
        text-align: center;
    }
}

@keyframes openMoreLarge {
    100% {
        margin-left: -45%;
        width: 900px;
        min-height: 300px;
    }
}

@keyframes closeMoreLarge {
    0% {
        margin-left: -45%;
        width: 900px;
        min-height: 300px;
    }
    100% {
        margin-left: 15%;
        width: 70%;
        min-height: none;
    }
}

@keyframes openMoreSmall {
    100% {
        padding-bottom: 200px;
    }
}

@keyframes closeMoreSmall {
    0% {
        padding-bottom: 200px;
    }
    100% {
        padding-bottom: 60px;
    }
}



.cvBlock {
    width: 70%;
    margin-left: 16%;
    min-height: 60px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: #FCFBF6;
    transition: 300ms;
    position: relative;
    padding-bottom: 60px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    animation-fill-mode: forwards;

    transition: box-shadow 600ms, opacity 300ms !important;

    .cvBlockContentWrapper {
        display: flex;
        .cvBlockContentWrapper_Left {
            width: 15%;

            img {
                width: 80%;
                margin-left: 20%;
            }
        }

        .cvBlockContentWrapper_Right {
            width: 85%;
        }
    }
    
    .cvBlockContent {
        transition: opacity 0.3s ease-in-out;
        opacity: 1;
        &.hidden {
            opacity: 0;
        }
        
        .dateString {
            color: rgba(0,0,0,0.6);
            margin-top: 5px;
            font-style: italic;
            padding-top: 0 !important;
            text-align: center;
        }

        p {
            margin-bottom: 20px;
        }
    }
    
    & p {
        margin-left: 10px;
        margin-right: 10px;
        padding: 5px;
        padding-bottom: 0;
    }
    &.cvBlockOpen {
        // position: fixed;
        
        // width: 700px;
        
        // position: absolute;
        // margin-left: -40%;

        p {
            padding-left: 30px;
            padding-right: 30px;
            margin-top: 10px;
        }

        .cvBlockHeadingBlock p {
            padding-left: 5px;
            margin-top: 0px;
        }

        .cvMoreButton p {
            margin-top: 0px;
        }
    }

    &.cvBlockOpen2 {
        z-index: 100;
    }

    .moreContent {
        visibility: hidden;
        transition: visibility 0s, opacity 0.5s linear;
        opacity: 0;
        &.visible {
            visibility: visible;
            opacity: 1;
            transition: visibility 1s, opacity 0.5s linear;
        }

    }

    .cvMoreButton {
        width: 130px;
        background-color: rgba(226, 224, 205, 0.4);
        height: 30px;
        
        border-radius: 100px;
        text-align: center;
        font-size: 15px;
        
        transition: 300ms;
        padding: 0;
        padding-top: 10px;
        margin-left: 0;

        position: absolute;
        right: 10px;
        bottom: 1px;

        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
    
        p {
            padding: 0;
        }
    
        &:hover {
            color: white;
            cursor: pointer;
        }
    }

    .buttonMoreContent {
        background-color: rgba(226, 224, 205, 0.4);
        position: relative;
        clear: both;
        display: block;
        float: none;
        left: 50%;
        width: 200px;
        margin-left: -100px;
        margin-bottom: 20px;

        transition: 300ms;
        cursor: pointer;

        &:hover {
            color: white;
        }
        
    }
}

.cvRed {
    // border: $redColor 3px solid;

    .cvHeading {
        background-color: $redColor;
    }

    & + .cvLine {
        background-color: $redColor;
    }

    .cvLineVertical {
        background-color: $redColor;
    }

    .cvMoreButton:hover {
        background-color: $redColor;
    }
}

.cvRedHeading {
    background-color: #E07A5F;
}

.cvGreen {
    // border: $greenColor 3px solid;
    
    .cvHeading {
        background-color: $greenColor;
    }

    & + .cvLine {
        background-color: $greenColor;
    }

    .cvLineVertical {
        background-color: $greenColor;
    }

    .cvMoreButton:hover {
        background-color: $greenColor;
    }

    .buttonMoreContent:hover {
        background-color: $greenColor;
    }
}

.cvGreenHeading {
    background-color: #81B29A;
}

.cvBlue {
    // border: $blueColor 3px solid;

    .cvHeading {
        background-color: $blueColor;
    }

    & + .cvLine {
        background-color: $blueColor;
    }

    .cvLineVertical {
        background-color: $blueColor;
    }

    .cvMoreButton:hover {
        background-color: $blueColor;
    }

    
}

.cvDescrip {
    color: rgba(0,0,0,0.6);
    margin-top: 5px;
    margin-bottom: 0 !important;
    font-style: italic;
    padding-top: 0 !important;
}

.cvTime {
    // margin-top: 10px;
    margin-bottom: 0 !important;
}

.cvContentHeading {
    font-size: 17px;
    margin-bottom: 0 !important;
    text-decoration: underline;
}

.cvContentSpacer {
    height: 30px;
}

.scrollFade {
    opacity: 0;
    transition: 100ms;
    transition: box-shadow 100ms, opacity 300ms !important;
}

.languageCard {
    border: 3px solid #3D405B;
    height: 70px;
    width: calc(50% - 10px);
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: #3D405B;
    text-align: center;
    color: white;
    padding-top: 25px;
    font-size: 20px;

    @include mobile {
        width: calc(50% - 10px);
    }
}

#languageCardsDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    margin-bottom: 35px;
    width: 70%;
    margin-left: 15%;
}

.languageDescrip {
    font-size: 14px;
    font-style: italic;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 5px;
}

.languageCardHeading {
    min-height: 26px;
    max-height: 40px;
    width: 100%;
    background-color: #3D405B;
    border-radius: 15px 15px 0 0;
    text-align: center;
    color: white;
    padding-top: 4px;
    
}

#spacer {
    height: 150px;
    width: 100%;
   
}

@media only screen and (max-width: 600px) {
    .cvBlock {
        width: 90%;
        margin-left: 5%;
    }

    .sortedByTime .cvBlock {
        width: 80%;
    }

    #languageCardsDiv {
        width: 90%;
        margin-left: 5%;
    }
}


.cvSwitch {
    display: flex;
    width: 70%;
    background-color: rgba($backgroundColorSecond, 0.4);
    text-align: center;
    margin-left: 15%;
    border-radius: 20px;
    position: relative;
    margin-top: 10px;

    @include mobile {
        width: 90%;
        margin-left: 5%;
    }

    .switchItem {
        padding: 10px;
        width: calc(50% - 10px);
        z-index: 2;
        cursor: pointer;

        @include mobile {
            padding: 10px;
            width: calc(50% - 10px);
        }
    }

    .switchMover {
        width: 50%;
        position: absolute;
        left: 0;
        height: 100%;
        border-radius: 20px;
        z-index: 0;
        background-color: $blueColor;
        transition: 300ms;
        
    }

    &.switchLeft {
        .switchItemLeft {
            color: white;
        }
    }

    &.switchRight {
        .switchItemRight {
            color: white;
        }

        .switchMover {
            left: 50%;
        }
    }
}

.cvSortedByCategory {
    display: none;
}

.sortedByTime {
    display: none;
    margin-top: 75px;

    .blockYear {
        display: flex;
        position: relative;

        @include mobile {
            margin-top: 18px;
        }
        .yearPart {
            width: 10%;
            text-align: right;
            font-size: 30px;
            &.border {
                border-right: 3px solid $backgroundColorSecond;
            }
            position: relative;

            p {
                padding: 5px;
                border: 3px solid $backgroundColorSecond;
                border-radius: 20px;
                margin-right: -45px;
                background-color: $backgroundColor;
                width: 115px;
                position: absolute;
                right: -85px;
                text-align: center;
                top: -31px;

                
            }
        }

        .cvPart {
            width: 90%;
            padding-top: 40px;
            padding-bottom: 30px;

            @include mobile {
                padding-top: 40px;
            }
            
            .cvBlock {
                position: relative;
                margin-bottom: 20px;
                margin-left: 10%;

                @include mobile {
                    margin-left: 11%;

                }

                .cvTimeLine {
                    &.Blue {
                        background-color: $blueColor;
                    }
                    &.Green {
                        background-color: $greenColor;
                    }
                    &.Red {
                        background-color: $redColor;
                    }
                    
                    position: absolute;
                    height: 300px;
                    width: 7px;
                    top: 50%;
                    left: -30%;
                }
            }
            
        }
    }
}

.visible {
    display: block;
}


.blackBackground {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    z-index: 99;
    top: -100%;
    transition: opacity 600ms;
    -webkit-transition: opacity 600ms ease-in-out;
    opacity: 0;
    &.visible {
        top: 0;
        opacity: 1;
    }
}