@import "utilities/variables.scss";

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.disableScroll {
	overflow: hidden;
}

body {
    background-color: $backgroundColor;
}

canvas {
    height: 100%;
    position: fixed;
    z-index: -1;
}

#navBar {
    background-color: $backgroundColor;
    position: fixed;
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-top: 20px;
    height: 50px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    transition: 300ms;
    z-index: 101;
    border-radius: 20px;
    
    #navBarTitle {
        background-color: aqua
    }

    h1 {
        font-size: 23px;
        font-weight: 500;
        margin-top: 10px;
        margin-left: 30px;
        width: 150px;
    }

    img {
        height: 22px;
    }
    
    ul {
        float: right;
        margin-top: -30px;
        margin-right: -40px;
    }

    .menuItemLi {
        display: block;
    }

    li {
        float: left;
        list-style: none;
        margin-top: 10px;

        .dropDown {
            margin-top: -10px;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;

            &:hover {
                background-color: $redColor;
                color: white;
            }

            img {
                height: 8px;
                position: relative;
                top: -2px;
            }
        }
    }  
    
    .dropDownMenu {
        right: 80px;
        position: absolute;
        background-color: #FCFBF6;
        margin-top: 5px;

        @include mobile {
            visibility: hidden;
        }
    }

    .horizLine {
        width: 100%;
        height: 1px;
        background-color: $backgroundColorSecond;
        margin-top: 15px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .menuItem {
        padding-top: 10px;
        padding-bottom: 10px;
        padding: 10px;
        border-radius: 10px;
        transition: 300ms;
        &:hover {
            background-color: $redColor;
            color: white;
        }
    }
}

#subTitleNavBar {
    font-size: 15px;
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
    font-weight: 100;
}

#searchIcon {
    width: 45px;
    padding-top: 15px;
    height: 37px;
    float: right;
    margin-top: -37px;
    margin-left: 10px;
    padding-left: 15px;
    visibility: hidden;

    &:hover {
        cursor: pointer;
    }

    .searchVisible & {
        visibility: visible;
    }
}


.searchVisible#navBar ul {
    margin-right: 10px !important;
}

input {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}


.button {
    width: 130px;
    background-color: #FCFBF6;
    height: 30px;
    margin-right: 10px;
    border-radius: 100px;
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    margin-bottom: 10px;
    transition: 300ms;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.firstButton {
    border: 3px #E07A5F solid;
}

.firstButton:Hover {
    background-color: #E07A5F;
    color: white;
    cursor: pointer;
}

.secondButton {
    border: 3px #3D405B solid;
}

.secondButton:Hover {
    background-color: #3D405B;
    color: white;
    cursor: pointer;
}

.thirdButton {
    border: 3px #81B29A solid;
}

.thirdButton:Hover {
    background-color: #81B29A;
    color: white;
    cursor: pointer;
}

.newButton {
    background-color: $blueColor;
    color: white;
    border: $blueColor 3px solid;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);

    &:hover{
        background-color: rgba(0,0,0,0);
        border: $blueColor 3px solid;
        color: $blueColor;
    }
}

.newButtonRed {
    background-color: $redColor;
    border: $redColor 3px solid;
    &:hover {
        border: $redColor 3px solid;
        color: $redColor;
    }
}

.newButtonGreen {
    background-color: $greenColor;
    border: $greenColor 3px solid;
    &:hover {
        border: $greenColor 3px solid;
        color: $greenColor;
    }
}

#footer {
    width: calc(100% - 40px);
    height: 50px;
    margin-left: 20px;
    background-color: $backgroundColor;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border-radius: 20px;
    padding-top: 10px;
    margin-top: -5px;
    margin-bottom: 30px;

    #mail {
        color: black;
        text-decoration: none;
    }
}

#footerLine {
    width: 100%;
    height: 3px;
    background-color: #e2e0cd;
}

#footerContent {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0 20px;
}

#content {
    min-height: calc(100vh - 120px);
}

#mobileMenu {
    visibility: hidden;
    float: left;
    width: 100%;
    margin-top: 50px;
    
    .mobileMenuItem {
        width: 100%;
        font-size: 22px;
        text-align: center;
        margin-top: 10px;
    }
}

#mobileMenuButton {
    position: absolute;
    right: 60px;
    top: 0px;
    height: 35px;
    padding-top: 15px;
    text-align: center;
    width: 50px;
    visibility: hidden;

    &:hover {
        cursor: pointer;
    }
}

.stop-scrolling {
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    #searchIcon {
        position: absolute;
        right: 5px;
        
    }

    #subTitleNavBar {
        visibility: hidden;
    }

    #navBar {
        height: 50px;
    }

    #navBar ul {
        visibility: hidden;
    }

    #mobileMenuButton {
        visibility: visible;
    }

    #footerContent {
        display: inherit;
        margin-bottom: 10px;
    }

    #footerContent p {
        margin-bottom: 5px;
    }

    #footer {
        height: 100px;
    }
    
}


.scrollIndicator {
    width: 100%;
    height: 3px;
    position: fixed;
    z-index: 100;
    top: 50px;

    .scrollIndicatorFill {
        background-color: $blueColor;
        width: 0%;
        height: 100%;

    }
}

