@import "utilities/variables.scss";

#content {
    min-height: 600px;
    padding-top: 50px;
    display: flex;

    @include mobile {
        display: block;
    }

    #contentLeft {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content:  flex-end;
       
        @include mobile {
            min-height: 0;
            justify-content:  center;
        }
        
        img {
            width: 300px;
            transition: 300ms;
            clip-path: circle(150px at center);
            
            @include mobile {
                float: inherit;
                width: 60%;
                margin-left: 20%;
                margin-top: 30px;
                transform: none;
                -webkit-transform: none;
            }
        }

        @include mobile {
            float: inherit;
            width: 100%;
            height: auto;
        }
    }

    .contentRight {    
        width: 50%;
        display: flex;
        align-items: center;

        .contentRightWrapper {
            margin-left: 20px;
            h1 {
                font-size: 50px;
                margin-bottom: 20px;
            }
            
            p {
                margin-top: 5px;
                max-width: 300px;
                margin-bottom: 20px;
                background-color: #FCFBF6;
    
                @include mobile {
                    width: 100%;
                    margin: 0;
                    max-width: none;
                    margin-bottom: 30px;
                }
            }
        }
        
        

        @include mobile {
            width: calc(100% - 10%);
            padding-right: 5%;
            padding-left: 5%;
            height: 400px;
            text-align: center;
            margin-top: 30px;
            transform: none;
            -webkit-transform: none;

            .introduction {
                font-size: 15px;
            }

            .nameHeading {
                font-size: 40px;
            }
            
            .buttonMain {
                width: 70% !important;
                margin-left: 15%;
                float: none;
            }
        }
    }

    @include mobile {
        height: auto;
        margin-bottom: 40px;
    }
}

.paperItem {
    display: none;
    .paperVisible {
        display: block;
    }
}