#content {
    min-height: 600px;
    padding-top: 50px;

    #contentLeft {
        float: left;
        width: 50%;
        height: 100%;

        img {
            width: 300px;
            float: right;
            transition: 300ms;
            transform: translate(0%, 50%);
            clip-path: circle(150px at center);
        }
    }

    #contentRight {
        width: 40%;
        transform: translate(0%, 70%);
        padding-left: 52.5%;

        h1 {
            font-size: 50px;
            margin-bottom: 20px;
        }
        
        p {
            margin-top: 5px;
            max-width: 300px;
            margin-bottom: 20px;
            width: 600px;
            background-color: #FCFBF6;
        }
    }

    .contentWrapper {
        min-height: 700px;
    }
}




@media only screen and (max-width: 600px) {
    #content {
        height: auto;
        margin-bottom: 40px;
    }

    #contentLeft {
        float: inherit;
        width: 100%;
        height: auto;
    }
    
    #contentLeft img {
        float: inherit;
        width: 60%;
        margin-left: 20%;
        margin-top: 30px;
        transform: none;
        -webkit-transform: none;
    }

    #contentRight {
        width: calc(100% - 10%);
        padding-right: 5%;
        padding-left: 5%;
        height: 400px;
        text-align: center;
        margin-top: 30px;
        transform: none;
        -webkit-transform: none;
    }
    
    #contentRight p {
        width: 100%;
        margin: 0;
        max-width: none;
        margin-bottom: 30px;
    }

    .buttonMain {
        width: 70% !important;
        margin-left: 15%;
        float: none;
    }

    .introduction {
        font-size: 15px;
    }

    #contentRight .nameHeading {
        font-size: 40px;
    }
}
