@import "utilities/variables.scss";

#content {
    min-height: 600px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobileMain {
        display: block;
    }
    .imagePortrait {
        width: 300px;
        transition: 300ms;
        clip-path: circle(150px at center);
        margin-left: 20px;
        margin-bottom: 30px;
        
        @include mobileMain {
            float: inherit;
            width: 60%;
            margin-left: 20%;
            margin-top: 30px;
            transform: none;
            -webkit-transform: none;
        }
    }

    @include mobileMain {
        float: inherit;
        width: 100%;
        height: auto;
    }

    .contentRightWrapper {
        background-color: white;
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.3);
        padding: 30px;
        border-radius: 30px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 30px;
        height: auto;

        h1 {
            font-size: 50px;
            margin-bottom: 20px;
            text-align: center;
        }
        
        .introductionHeading {
            text-align: center;
        }

        .introductionWrapper {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        p {
            margin-top: 5px;
            max-width: 300px;
            margin-bottom: 20px;
            background-color: $backgroundColor;

            @include mobileMain {
                width: 100%;
                margin: 0;
                max-width: none;
                margin-bottom: 30px;
            }
        }

        @include mobileMain {
            width: calc(100% - 100px);
        }

        .mainButtonWrapper {
            display: flex;
            align-items: center;

            @include mobile {
                flex-direction: column;
            }

            .button {
                width: 80%;
                max-width: 300px;
            }
        }
    }
}


.paperItem {
    display: none;
    .paperVisible {
        display: block;
    }
}