@import "utilities/variables.scss";

#content {
    padding: 40px;
    padding-top: 100px;
    width: calc(100% - 80px);
    margin: 0 auto;
    max-width: 1100px;
    @media (max-width: 1000px) {
        max-width: 700px;
    }
    position: relative;
    padding: 0;
    padding-top: 100px;
    padding-bottom: 100px;
    
    h1 {
        text-align: center;
        font-size: 40px;
        margin-bottom: 30px;
    }


    h3 {
        text-align: center;
        font-size: 30px;
        margin-bottom: 10px;
        margin-top: 30px;
    }

    h4 {
        text-align: center;
        font-size: 20px;
        margin-bottom: 20px;
    }

    img {
        width: 70%;
        margin-left: 15%;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    p {
        background-color: #FCFBF6;
        margin-bottom: 10px;
        text-align: justify;
        line-height: 1.6;
    }

    .date {
        width: 100%;
        text-align: center;
        font-style: italic;
        color: rgba(0,0,0,0.6);
    } 

    .author {
        text-align: center;
        color: rgb(180, 179, 163);
    }

    b {
        font-weight: 500;
        cursor: pointer;
    }

    .headingsAndPaperDiv {
        display: flex;
        justify-content: space-around;
        @media (max-width: 1000px) {
            display: block;
        }

        
        .headings {
            width: calc(30% - 20px);
            padding: 20px;

            @media (max-width: 1000px) {
                width: calc(100% - 20px);
            }

            @include mobile {
                padding: 0;
                width: 100%;
            }
            p {
                text-align: left;
                &:hover {
                    background-color: $backgroundColorSecond;
                    border-radius: 20px;
                    transition: 300ms;
                    cursor: pointer;
                }
            }

            margin-top: 35px;

            .section {
                font-weight: bold;
                font-size: 17px;
                margin-top: 20px;
                padding: 5px;
                padding-left: 15px;
                @include mobile {
                    padding-left: 5px;
                }
                @media (max-width: 1000px) {
                    margin-top: 0px;
                }
            }

            .subSection {
                margin-left: 30px;
                @include mobile {
                    margin-left: 20px;
                }
                margin-bottom: 0;
                padding: 5px;
                padding-left: 15px;
                border-left: solid $backgroundColorSecond;
            }
        }

        .paper {
            width: 70%;
            @media (max-width: 1000px) {
                width: 100%;
            }
            max-width: 700px;
        }
    }
}

#content p h1 h2 h3 h4 {
    background-color: #FCFBF6;
}

@media only screen and (max-width: 600px) {
    #content {
        padding: 20px;
        padding-top: 100px;
        width: calc(100% - 50px);
    }
    
    #articles {
        z-index: -1;
        padding: 0;
        grid-template-columns: auto;
    }

    .article {
        min-width: 0;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        min-height: 230px;
        margin-bottom: 5px;
        
    }
    .article img {
        height: 100px;
        width: 200px;
    }

    .articleHeader {
        padding: 0;
        padding-left: 10px;
        
    }

    .articleHeader h2 {
        font-size: 18px;
    }

    .article .buttonReading {
        width: 90%;
        right: 5%;
    }

    .articleText {
        padding-top: 15px;
        margin-top: 0;
    }

    .articleDescription {
        height: 60px;
    }
  }

.paperPopUp {
    width: 325px;
    position: absolute;
    display: none;
    height: auto;

    .popUp {
        background-color: #FCFBF6;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
        border-radius: 10px;
        width: 300px;
        margin-top: 25px;
        border: 4px solid $blueColor;
    }

    .popUpContent {
        padding: 10px;
        p {
            text-align: left !important;
        }

        .buttonPopUp {
            width: 280px;
            background-color: #FCFBF6;
            margin-right: 10px;
            text-align: center;
            border-radius: 100px;
            font-size: 15px;
            padding-top: 10px;
            margin-bottom: 10px;
            transition: 300ms;
            border: 3px #3D405B solid;
            padding: 10px;
            
            &:hover {
                background-color: #3D405B;
                color: white;
                cursor: pointer;
            }
        } 
        
    }

    .popTitle {
        background-color: $blueColor;
        color: white;
        width: calc(100% - 20px);
        padding: 3px 10px;
        .paperPopUpTitle {
            margin-top: 5px;
            background-color: $blueColor !important;
            text-align: left !important;
        }
    }

    .popupCloser {
        height: 25px;
        width: 300px;
        position: absolute;
        right: 0;
    }

}
