@font-face {
    font-family: beon;
    src: url("/assets/podcastAssets/beon-webfont.woff");
}

body {
    font-family: beon;
    background-image: url("/assets/podcastAssets/Background\ High.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    
    .bodyWrapperWrapper {
        display: flex;
        justify-content: space-around;

        .bodyWrapper {
            max-width: 800px;
    
            .headingImage {
                margin-top: 20px;
                width: 100%;
            }

            .bottomImage {
                width: 100%;
                margin-top: 50px;
            }
        }
    }
}

.linkButton {
    width: 80%;
    margin-left: 10%;
    height: 100px;
    border: white 2px solid;
    border-radius: 10px;
    background-color: rbg(200,255,0);
    cursor: pointer;
    overflow: hidden;
    background-color: transparent;
    padding: 0;
    margin-top: 30px;

    .fill {
        //background-color: rgb(119, 35, 47);
        background-color: white;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
            width: 30px;
            border-radius: 50%;
            margin-right: 10px;
        }

        p {
            margin: 0;
            font-family: beon;
            color: rgb(40, 40, 103);
            text-align: center;
            font-size: 22px;
            max-width: 80%;
        }

        &.type2 {
            background-color: rgb(40, 40, 103);
            background-color: transparent;

            p {
                color: white;
            }
        }
    }
}