@import "utilities/variables.scss";

body {
    // background-color: #292761 !important;
}

.embedded-showplayer {
    background-color: aqua !important;
}

.contentWrapper {
    display: flex;

    .content {
        padding: 40px;
        padding-top: 100px;
        width: calc(100% - 80px);
        min-height: calc(100vh - 200px);
        margin: 0 auto;
        max-width: 700px;
        float: left;
        
    }

    .podcastBox {
        border-radius: 15px;
        background-color: $backgroundColor;
        transition: 300ms;
        box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 15px;
        width: calc(100% - 50px);
        padding: 25px;

        display: flex;

        @include mobile {
            display: block;
        }

        .headingImage {
            // max-width: 325px;
            width: 50%;
            margin-bottom: 20px;
            box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 15px;
            border-radius: 15px;

            @include mobile {
                width: 100%;
            }
        }

        .podcastLinkImagesWrapper {

            width: 40%;
            margin-left: 5%;
            margin-top: 4%;

            @include mobile {
                width: 90%;
            }

            .podcastLinkImages {
                width: 100%;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    
}


.podcastiFrame {
    height: 700px;

    @media (max-width: 553px) {
        height: 1500px;
    }
}
