<div id="footer">
    <div id="footerLine"></div>
    <div id="footerContent">
        <p> Mail: elias.peeters@icloud.com</p>
        <p> Elias Peeters</p>
        <p> © 2021, All Rights reserved </p>
    </div>
</div>

<script src="assets/config.js"></script>