<div id="footer">
    <div id="footerContent">
        <a id="mail" href="mailto:contact@eliaspeeters.de">contact@eliaspeeters.de</a>
        <!-- <p id="mail"> Mail: elias.peeters@icloud.com</p> -->
        <p> Elias Peeters</p>
        <p> © 2021, All Rights reserved </p>
    </div>
</div>

<script src="assets/config.js"></script>