<div id="navBar" class="stop-scrolling searchVisible">
    <a id="navBarTitle" href="/"><h1>Elias Peeters <span id="subTitleNavBar">Programmer</span></h1></a>
    <div id="searchIcon" onmousedown="toggleSearch(true)">
        <img src="assets/search.svg">
    </div>
    
    <ul>
        <li><a class="menuItem" href="/">Home</a></li>
        <li><a class="menuItem" id="home" href="/cv">CV</a></li>
        <li><a class="menuItem" href="/blog">Blog</a></li>
        <li><a class="menuItem" href="/contact">Contact</a></li>
        <li><a class="menuItem" href="/imprint">Imprint</a></li>
    </ul>

    <div id="mobileMenu">
        <div class="mobileMenuItem"><a href="/">Home</a></div>
        <div class="mobileMenuItem"><a href="/cv">CV</a></div>
        <div class="mobileMenuItem"><a href="/blog">Blog</a></div>
        <div class="mobileMenuItem"><a href="/contact">Contact</a></div>
        <div class="mobileMenuItem"><a href="/imprint">Imprint</a></div>
    </div>

    <div id="mobileMenuButton" onmousedown="toggleMobileMenu()">
        Menu
    </div>
</div>

<script>
    function noScroll() {
        window.scrollTo(0, 0);
    }
    let MenuOpened = false;

    function toggleMobileMenu() {
        MenuOpened = !MenuOpened;
        let navBar = document.getElementById('navBar')
        let mobileMenu = document.getElementById('mobileMenu')
        if (MenuOpened) {
            navBar.style.height = '100%';
            mobileMenu.style.visibility = 'visible';
            document.getElementById('body').style.overflow = 'hidden'
        } else {
            navBar.style.height = '50px';
            mobileMenu.style.visibility = 'hidden';
            window.removeEventListener('scroll', noScroll);
            document.getElementById('body').style.overflow = 'auto'
        }
    }

</script>

<script type="text/javascript">
    function openPage(url) {
        window.location.href = url
    }
</script>
<%- include ("searchModal") %>

