<div id="navBar" class="stop-scrolling searchVisible">
    
    <a id="navBarTitle" href="/"><h1>Elias Peeters <span id="subTitleNavBar">Programmer</span></h1></a>
    
    <div id="searchIcon" onmousedown="toggleSearch(true)">
        <img src="/assets/search.svg">
    </div>
    
    <ul class="menuItemsDesktop">
        <li class="homeItem menuItemLi"><a class="menuItem" href="/">Home</a></li>
        <li class="cvItem menuItemLi"><a class="menuItem" id="home" href="/cv">CV</a></li>
        <li class="blogItem menuItemLi"><a class="menuItem" href="/posts">Posts</a></li>
<!--        <li class="blogItem menuItemLi paperItem"><a class="menuItem" href="/papers">Papers</a></li>-->
        <li class="blogItem menuItemLi"><a class="menuItem" href="/podcast">Podcast</a></li>
        <li class="contactItem menuItemLi"><a class="menuItem" href="/contact">Contact</a></li>
        <li class="imprintItem menuItemLi"><a class="menuItem" href="/imprint">Imprint</a></li>
        <li class="dropDownLi"><div class="dropDown" onmousedown="toggleDropDown()">Menu <img src="/assets/icons/arrowDown.svg"></div></li>
    </ul>

    <div class="horizLine"></div>

    <div class="dropDownMenu">
        <li><a class="menuItem" href="/">Home</a></li>
        <li><a class="menuItem" id="home" href="/cv">CV</a></li>
        <li><a class="menuItem" href="/posts">Posts</a></li>
<!--        <li><a class="menuItem" href="/papers">Paper</a></li>-->
        <li><a class="menuItem" href="/podcast">Podcast</a></li>
        <li><a class="menuItem" href="/contact">Contact</a></li>
        <li><a class="menuItem" href="/imprint">Imprint</a></li>
    </div>

    <div id="mobileMenu">
        <div class="mobileMenuItem"><a href="/">Home</a></div>
        <div class="mobileMenuItem"><a href="/cv">CV</a></div>
        <div class="mobileMenuItem"><a href="/posts">Posts</a></div>
        <div class="mobileMenuItem"><a href="/podcast">Podcast</a></div>
<!--        <div class="mobileMenuItem"><a href="/papers">Paper</a></div>-->
        <div class="mobileMenuItem"><a href="/contact">Contact</a></div>
        <div class="mobileMenuItem"><a href="/imprint">Imprint</a></div>
    </div>

    <div id="mobileMenuButton" onmousedown="toggleMobileMenu()">
        Menu
    </div>
</div>

<script>
    function noScroll() {
        window.scrollTo(0, 0);
    }
    let MenuOpened = false;

    function toggleMobileMenu() {
        MenuOpened = !MenuOpened;
        let navBar = document.getElementById('navBar')
        let mobileMenu = document.getElementById('mobileMenu')
        if (MenuOpened) {
            navBar.style.height = '90%';
            mobileMenu.style.visibility = 'visible';
            document.getElementById('body').style.overflow = 'hidden'
        } else {
            navBar.style.height = '50px';
            mobileMenu.style.visibility = 'hidden';
            window.removeEventListener('scroll', noScroll);
            document.getElementById('body').style.overflow = 'auto'
        }
    }

    function showDropDown() {
        let dropDown = document.getElementsByClassName('dropDownLi')[0];
        let menuItems = document.getElementsByClassName('menuItemLi');

        if (window.innerWidth > 820) {
            dropDown.style.display = 'none'
            for (let item of menuItems) {
                item.style.display = 'block'
            }
        } else {
            dropDown.style.display = 'block'
            for (let item of menuItems) {
                item.style.display = 'none'
            }
        }
    }

    window.addEventListener('resize', () => {
        showDropDown();

        if (window.innerWidth < 600) {
            MenuOpened = true;
            toggleMobileMenu()
        }
        if (window.innerWidth > 750) {
            document.getElementById('navBar').style.height = '50px'
        }
    });


    let dropDownState = 0
    // 0 = closed
    // 1 = opened

    function toggleDropDown() {
        var navBar = document.getElementById('navBar')

        function openDropDown() {  
            navBar.style.height = '105px'
        }

        function closeDropDown() {
            navBar.style.height = '50px'
        }

        if (dropDownState === 0) {
            openDropDown();
            dropDownState = 1;
        } else {
            closeDropDown();
            dropDownState = 0;
        }
    }

    function init() {
        showDropDown()
    }
    init()
</script>

<script type="text/javascript">
    function openPage(url) {
        window.location.href = url
    }

    function openInNewTab(url) {
        window.open(url, '_blank').focus();
    }
</script>
<%- include ("searchModal") %>

