<div id="navBar">
    <a id="navBarTitle" href="/"><h1>Elias Peeters <span id="subTitleNavBar">Programmer</span></h1></a>
    
    <ul>
         <li><a id="home" href="/cv">CV</a></li>
          <li><a href="news.html">Blog</a></li>
          <li><a href="contact.html">Papers</a></li>
          <li><a href="about.html">Contact</a></li>
    </ul>
</div>