<form method="POST" action="/heraCreatePdf">
    <label>binaryToDezimal Tasks</label>
    <input type="number" name="binaryToDezimal" value="10"><br>

    <label>dezimalToBinary Tasks</label>
    <input type="number" name="dezimalToBinary" value="10"><br>
    <input type="submit">
</form>
