<a href="http://<%= output.task %>" target="_blank">
    <div style="width: 300px; height: 50px; text-align: center; background-color: aqua; margin-bottom: 20px;">
        Tasks
    </div>
</a>

<a href="http://<%= output.solution %>" target="_blank">
    <div style="width: 300px; height: 50px; text-align: center; background-color: aqua; margin-bottom: 20px;">
        Solutions
    </div>
</a>
