<div id="blackBox" onmousedown="toggleSearch(false)"></div>

<div id="searchBox">
    <img src="assets/search.svg" onclick="selectSearchBar()">
    <form id="searchForm">
        <input onkeyup="inputSend()" id="searchBar" type="text" placeholder="Type to search" autocomplete="off" autofocus />
    </form>
	
	<div id="searchBoxLine"></div>
    <div id="output">
    </div>
</div>

<script>

    function selectSearchBar() {
        let id = "searchBar";
        document.getElementById(id).setSelectionRange(0, 9999);
        document.getElementById(id).focus();
        document.getElementById(id).select();    
    }
    
    function toggleSearch(open) {
    	let blackBox = document.getElementById('blackBox');
    	let searchBox = document.getElementById('searchBox');
    	let searchBar = document.getElementById('searchBar');
		let body = document.getElementById('body');    

		document.getElementById(searchBar.id).focus();
        document.getElementById(searchBar.id).select();
        if (open) {
            //document.searchForm.searchBar.focus();
            //document.getElementById(searchForm.searchBar).focus()
            blackBox.style.opacity = '1';
            blackBox.style.pointerEvents = 'inherit';
            searchBox.style.opacity = '1';
            searchBox.style.pointerEvents = 'inherit';
            if (window.innerWidth < 600) {
                searchBox.style.width = '98%';
                searchBox.style.height = 'none';
                searchBox.style.top = '1%';
                searchBox.style.marginTop = '1%';
            } else {
                searchBox.style.width = '50%';
            }
            
            searchBar.color = 'green';
        	body.classList.add('disableScroll');
            setTimeout(function(){ selectSearchBar(); }, 100);    

        } else {
			blackBox.style.opacity = '0'
            blackBox.style.pointerEvents = 'none'
            searchBox.style.opacity = '0';
            searchBox.style.pointerEvents = 'none';
            if (window.innerWidth < 600) {
                searchBox.style.top = 'none';
                searchBox.style.marginTop = '100px';
            }
            searchBox.style.width = '0%';
        	body.classList.remove('disableScroll');
        }
    }
    
    function inputSend() {
    	let searchString = document.getElementById('searchBar').value;
        if (searchString != '') {
            document.getElementById('searchBoxLine').style.opacity = '1';
            document.getElementById('output').style.padding = '0 20px 20px 20px';
        } else {
            document.getElementById('searchBoxLine').style.opacity = '0';
            document.getElementById('output').style.padding = '0';
        }
        let outputObject = document.getElementById('output')
        let url = '/search?text=' + searchString;
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", url, false);
        xmlHttp.send(null);
        outputObject.innerHTML = xmlHttp.responseText;

    }

    var first_press = false;
    function key_press(event) {
        console.log(event)
        if(first_press) {
            // they have already clicked once, we have a double
            first_press = false;
        } else {
            // this is their first key press
            first_press = true;

            // if they don't click again in half a second, reset
            window.setTimeout(function() { first_press = false; }, 500);
        }
    }
    
</script>