<div id="blackBox" onmousedown="toggleSearch(false)"></div>

<div class="searchBox">

</div>

<script>
    function toggleSearch(open) {
        if (open) {
            document.getElementById('blackBox').style.opacity = '1';
            document.getElementById('blackBox').style.pointerEvents = 'inherit'
        } else {
            document.getElementById('blackBox').style.opacity = '0'
            document.getElementById('blackBox').style.pointerEvents = 'none'
        
        }
    }
</script>