<html>


    <head>
        <link rel="stylesheet" href="/assets/css/posts.css">
        <%- include ("../partials/header") %>
    </head>

    <body>

        <%- include ("../partials/post") %>

    </body>
</html>