$backgroundColorSecond: #e2e0cd;
$backgroundColor: white;
$blueColor: #B8285F;
$redColor: #3D405B;
$redColorLight: rgba(141, 31, 73, 0.6);
$greenColor: #3E5C41;

@mixin mobile {
    @media (max-width: 600px) {
        @content;
    }
}

@mixin mobilePodcast {
    @media (max-width: 920px) {
        @content;
    }
}

@mixin mobileMain {
    @media (max-width: 850px) {
        @content;
    }
}