<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="assets/mainStyle.css">
        
        <%- include ("partials/header") %>
    </head>
    
    <body>
        <%- include ("partials/animation") %>                
        <%- include ("partials/navBar") %>
        
        <div style="height: 100%">
            <h1 style="padding-top: 100px; text-align: center;">Sorry, but that page is not available</h1>
        </div>
        <%- include ("partials/footer") %>
    </body>    
</html>