<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="assets/cv-style.css">
        
        <%- include ("partials/header") %>
        
    </head>
    
    <body id="body" onkeydown="key_press()">
        <%- include ("partials/animation") %>                
        <%- include ("partials/navBar") %>
       
        
        <script>
            
            window.addEventListener("resize", (event) => {
                let leftContent = document.getElementById('contentLeft');
                    
                if (window.innerWidth > 600) {

                    let rightContent = document.getElementById('contentRight');
                    leftContent.style.width = (rightContent.offsetWidth / 60) * 40
                } else {
                    leftContent.style.width = '100%'
                }
            });  
        </script>
        
        <div id="content">
            
            <div id="contentLeft">
                <img src="assets/portrait.png">
                <h1>Elias Peeters</h1>
            </div>
            
            <div id="contentRight">
                <h1>CV</h1>
                
                <h3 scrollFade>Education</h3>
                
                <!--<div id="greenLine"></div> -->
                
                <div class="scrollFade">
                    <div class="cvBlock cvGreen scrollFocus">
                        <div class="cvBlockHeadingBlock cvGreenHeading">
                            <p>Primary School: Silberbergschule Geesthacht</p>
                        </div>
                        <p>2008-2012</p>
                        
                    </div>
                    <div class="greenLine2"></div>
                </div>

                <div class="scrollFade">
                    <div class="cvBlock cvGreen scrollFocus">
                        <div class="cvBlockHeadingBlock cvGreenHeading">
                            <p>Secondary School: Otto-Hahn-Gymnasium</p>
                        </div>
                        <p>2012-2020</p>
                    </div>
                    
                    <div class="greenLine2"></div>
                </div>
                
                <div class="cvBlock cvGreen scrollFade scrollFocus">
                    <div class="cvBlockHeadingBlock cvGreenHeading">
                        <p>B.S in Computer Science and Economics</p>
                    </div>
                    <p>2020-Present</p>
                    <p class="cvDescrip">2020 I started my study at the NORDAKADEMIE in Elmshorn in cooperation with the OTTO GmbH</p>
                </div>
                
                <h3 scrollFade>Experience</h3>
                
                <div class="scrollFade">
                    <div class="cvBlock cvRed  scrollFocus">
                        <div class="cvBlockHeadingBlock cvRedHeading">
                            <p>Internship: Vegansnacks.de</p>
                        </div>
                        <p>2018 (2 weeks)</p>
                        <p class="cvDescrip">I supported the onlineshop vegansnacks.de for 2 weeks and learned a lot about the ecommerce.</p>
                    </div>
                    
                    <div class="redLine2"></div>
                </div>
                
                <div class="cvBlock cvRed scrollFade scrollFocus">
                    <div class="cvBlockHeadingBlock cvRedHeading">
                        <p>Business informatics: OTTO GmbH</p>
                    </div>
                    <p>2020-Present</p>
                    <p class="cvDescrip">I started my study business informatics in cooperation with OTTO 2020.</p>
                </div>
                
                <h3>Languages</h3>
                <div id="languageCardsDiv">
                    
                    <div class="languageCard scrollFade scrollFocus">
                            <p>German</p>
                        <p class="languageDescrip ">Nativ</p>
                    </div> 

                    <div class="languageCard scrollFade scrollFocus">                
                        <p>English</p>
                        <p class="languageDescrip">Very good</p>
                    </div>

                    <div class="languageCard scrollFade scrollFocus">
                        <p>Latin</p>
                        <p class="languageDescrip">Middle latinum</p>
                    </div>

                    <div class="languageCard scrollFade scrollFocus">
                        <p>Chinese</p>
                        <p class="languageDescrip">Basic Knowledge</p>
                    </div>
                </div>

                <!-- Courses -->

                <h3 scrollFade>Training Courses</h3>
                              
                <div class="scrollFade">
                    <div class="cvBlock cvGreen scrollFocus">
                        <div class="cvBlockHeadingBlock cvGreenHeading">
                            <p>Enrichment: NXT-G Programming</p>
                        </div>
                        <p class="cvTime">2013-2014</p>
                        <p class="cvDescrip">2020 I started my study at the NORDAKADEMIE in Elmshorn in cooperation with the OTTO GmbH</p>
                    
                    </div>
                    <div class="greenLine2"></div>
                </div>
                
                <div class="scrollFade">
                    <div class="cvBlock cvGreen scrollFocus">
                        <div class="cvBlockHeadingBlock cvGreenHeading">
                            <p>HAW Summercamp: Faszination Luft- und Raumfahrt</p>
                        </div>
                        <p>2012-2020</p>
                        <p class="cvDescrip">2020 I started my study at the NORDAKADEMIE in Elmshorn in cooperation with the OTTO GmbH</p>
                    
                    </div>
                    
                    <div class="greenLine2"></div>
                </div>

                
                <div class="cvBlock cvGreen scrollFade scrollFocus">
                    <div class="cvBlockHeadingBlock cvGreenHeading">
                        <p>Table Tennis Licenses</p>
                    </div>
                    <p class="cvTime">2018</p>
                    <p class="cvDescrip">D-License</p>
                    <p class="cvTime">2019</p>
                    <p class="cvDescrip">C-License</p>
               
                </div>

                <h3>Coding Skills</h3>
                <div id="languageCardsDiv">
                    
                    <div class="languageCard scrollFade scrollFocus">
                            <p>HTML, CSS, JS</p>
                        <p class="languageDescrip ">Very Good</p>
                    </div> 

                    <div class="languageCard scrollFade scrollFocus">                
                        <p>Node.js</p>
                        <p class="languageDescrip">Very good</p>
                    </div>

                    <div class="languageCard scrollFade scrollFocus">
                        <p>C++</p>
                        <p class="languageDescrip">Good knowledge</p>
                    </div>

                    <div class="languageCard scrollFade scrollFocus">
                        <p>Python</p>
                        <p class="languageDescrip">Basic Knowledge</p>
                    </div>

                    <div class="languageCard scrollFade scrollFocus">
                        <p>Pascal/ Delphi</p>
                        <p class="languageDescrip">Very Good</p>
                    </div>

                    <div class="languageCard scrollFade scrollFocus">
                        <p>Java</p>
                        <p class="languageDescrip">Basic Knowledge</p>
                    </div>
                </div>
                
                <div id="spacer"></div>
                
            </div>
            
        </div>


        <%- include ("partials/footer") %>
        
        <script src="assets/config.js"></script>
        <script src="assets/fade.js"></script>
    </body>
    
    
</html> 