<html>
    <head>
        <link rel="stylesheet" href="assets/mainStyle.css">
        
        <%- include ("partials/header") %>
    </head>
    
    <body>
        <%- include ("partials/animation") %>                
        <%- include ("partials/navBar") %>
        
        <div id="content">
            <div id="contentLeft">
                <img src="assets/portrait.png">
            </div>

            <div id="contentRight">
                <h1>Elias Peeters</h1>
                <h3>A quick introduction</h3>
                
                <p>Hi, I am professional programmer working at OTTO. Awesome that you found your way here to my personal website. You can find here my projects, papers and CV. Also a Blog may be part of it in the future so be strechted. </p>
                
                <div class="button firstButton buttonMain" onmousedown="window.location = '/cv'">CV</div>
                <div class="button secondButton buttonMain" onmousedown="window.location = '/blog'">Blog</div>
                <div class="button thirdButton buttonMain" onmousedown="window.location = '/contact'">Contact</div>
            </div>

        </div>

        <%- include ("partials/footer") %>
    </body>    
</html>