<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="assets/css/podcast.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/styles/railscasts.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/highlight.min.js"></script>        
                
        <%- include ("partials/header") %>
    </head>
    
    <body id="body">
        <%- include ("partials/animation") %>                
        <%- include ("partials/navBar") %>
        
        <div class="contentWrapper">
            <div class="content">

                <div class="headingImageWrapper">
                    <img class="headingImage" src="/assets/images/podcast/Scharf Angebraten (Schrift).png">
                </div>
                
    
                <div class="contentLeft">
                    <img class="podcastLogo" src="/assets/images/podcast/Logo Circle.png">
                    <div class="podcastLinkImagesWrapperWrapper">
                        <div class="podcastLinkImagesWrapper">
                            <img onclick="openLink('apple')" class="podcastLinkImages" src="/assets/images/podcast/apple.png" >
                            <img onclick="openLink('spotify')" class="podcastLinkImages" src="/assets/images/podcast/spotify.png" >
                            <img onclick="openLink('google')" class="podcastLinkImages" src="/assets/images/podcast/google.png" >
                            <img onclick="openLink('castro')" class="podcastLinkImages" src="/assets/images/podcast/castro.png" >
                        </div>
                    </div>
                    
                    
                </div>
                
                <div class="contentRight">
                    <iframe class="podcastiFrame" id="iframe" src='https://widget.justcast.com/widget?rss=https://feeds.redcircle.com/ac7565d9-ba20-4c82-8851-933cda3ab5dd&primaryBackgroundColor=292761primaryButtonColor=f7f8f9&primaryTextColor=f7f8f9&progressBarFilledColor=f7f8f9&progressBarBackgroundColor=8A8175&playlistBackgroundColor=30343c&playlistTextColor=f7f8f9&chapterBackgroundColor=30343c&chapterTextColor=f7f8f9' height='100vh' frameborder='0' scrolling='yes' seamless='true' style="display: block; border:none; width: 100%;"></iframe>
                </div>

                <script>
                    function openLink(name) {
                        if (name == 'apple') {
                            openInNewTab('https://podcasts.apple.com/de/podcast/scharf-angebraten/id1570645760');
                        } else if (name == 'spotify') {
                            openInNewTab('https://open.spotify.com/show/0mo6ncfrpp516Zb1Z8jtUu')
                        } else if (name == 'google') {
                            openInNewTab('https://www.google.com/podcasts?feed=aHR0cHM6Ly9mZWVkcy5yZWRjaXJjbGUuY29tL2FjNzU2NWQ5LWJhMjAtNGM4Mi04ODUxLTkzM2NkYTNhYjVkZA%3D%3D')
                        } else if (name == 'castro') {
                            openInNewTab('https://castro.fm/podcast/0342db65-30e6-4d72-972e-04d850b4a310')
                        }
                    }

                    function openInNewTab(url) {
                        window.open(url, '_blank').focus();
                    }
                </script>
    
            </div>
        </div>
        
        
        <%- include ("partials/footer") %>
        
        <script src="assets/configPodcast.js"></script>
        <script src="assets/fade.js"></script>
        <script>hljs.highlightAll();</script>
    </body>
    
    
</html> 