* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #FCFBF6;
}

canvas {
    height: 100%;
    position: fixed;
    z-index: -1;
}

#navBar {
    background-color: #FCFBF6;
    position: fixed;
    width: 100%;
    height: 50px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
    transition: 300ms;
}

#navBarTitle {
    background-color: aqua
}

#navBar h1 {
    font-size: 23px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 30px;
}

#subTitleNavBar {
    font-size: 15px;
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
    font-weight: 100;
}

#navBar ul {
    float: right;
    margin-top: -20px;
    margin-right: 50px;
}

#navBar li {
    float: left;
    list-style: none;
    margin-left: 10px;
}

#navBar a {
    text-decoration: none;
    color: black;
}

.button {
    float: left;
    width: 130px;
    background-color: #FCFBF6;
    height: 30px;
    margin-right: 10px;
    border-radius: 100px;
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    margin-bottom: 10px;
    transition: 300ms
}

.firstButton {
    border: 3px #E07A5F solid;
}

.firstButton:Hover {
    background-color: #E07A5F;
    color: white;
    cursor: pointer;
}

.secondButton {
    border: 3px #3D405B solid;
}

.secondButton:Hover {
    background-color: #3D405B;
    color: white;
    cursor: pointer;
}

.thirdButton {
    border: 3px #81B29A solid;
}

.thirdButton:Hover {
    background-color: #81B29A;
    color: white;
    cursor: pointer;
}

#footer {
    width: 90%;
    height: 50px;
    padding-left: 5%;
    padding-right: 5%;
}

#footerLine {
    width: 100%;
    height: 3px;
    background-color: #e2e0cd;
    margin-bottom: 
}

#footerContent {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0 20px;
}



