#content {
    height: calc(100% - 50px);
    min-height: 600px;
    padding-top: 50px;
}

#contentLeft {
    float: left;
    width: 50%;
    height: 100%;
}

#contentLeft img {
    width: 300px;
    margin-top: 30%;
    float: right;
    transition: 300ms;
}

#contentRight {
    width: 40%;
    margin-top: 15%;
    padding-left: 52.5%;
}

#contentRight h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

#contentRight p {
    margin-top: 5px;
    max-width: 300px;
    margin-bottom: 20px;
    width: 600px;
    background-color: #F4F1DE;
}

